/*pt 2 ch 4 step 2: set the default font family*/
/* pt 4 ch 5 step 1: formate the body so that its 800 px wide, a white background
 * a black border with a shadow and is centered in the browswer window 
 */
/* pt 4 ch 5 step 2: add a background image behind the body of the page that uses
 * the bats.gif and repeats horizontally and vertically 
 */
html {
	background-image: url("../images/bats.gif");
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
	background-color: white;
	margin:0 auto;
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}



/* pt 2 ch 4 step 3: adjust all font sizes for all of the headings and format the first heading in
 * main content so it's larger than the other letters in the heading
 */
/* pt 4 ch 5 step 3: add a black border below the header*/
/* pt 4 ch 5 step 5: add a gradient to the header*/
header{
	background-image: -moz-linear-gradient(
	    45deg, white 0%, orange 75%, black 100%);
	background-image: -webkit-linear-gradient(
	    45deg, white 0%, orange 75%, black 100%);
	background-image: -o-linear-gradient(
	    45deg, white 0%, orange 75%, black 100%);
	background-image: linear-gradient(
	    45deg, white 0%, orange 75%, black 100%);
	padding: 15px;
	/*border-bottom: 2px solid black;*/ /* removed per ex 7 unneeded*/
}
header img{
	float: left;
	padding-right: 15px;
}
/* remove the shadow, italics and color from heading*/
header h2{
	font-size: 230%;
	/*font-style: italic;*/
	/*color:orange;*/
	/*text-shadow: -2px -2px 4px black;*/
	
}
header h3{
	font-size: 125%;
    /*text-indent: 25px;*/
   padding-bottom: 15px;
}

/*halloween ex 7 spec 1*/
/* The styles for the operation of the 2-tier navigation menu */
#nav_menu ul {
	list-style: none;
	position: relative;    /* So the first submenu can be positioned within the main menu */
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;         /* Don't display submenu until hover of the li element */
	position: absolute;
	top: 100%;             /* Position the submenu at the bottom of the main menu */
}
#nav_menu ul ul li {
	float: none;           /* Display the submenus vertically */
}
#nav_menu ul li:hover > ul {
	display: block;        /* Display the submenu on hover of the li element */
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* The styles for the formatting of the 2-tier navigation menu */
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 160px;
	padding: 0.7em 0;
	text-decoration: none;
	background-color: black;
	color: white;
}
#nav_menu ul li.lastitem a {
	width: 160px;               /* leave this here just in case 3 tier menu*/
}
#nav_menu ul li a.current {
	color: orange;/*per Halloween ex 7 spec 1 cont*/
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

/* part 4 ch 5 step 6: adjust marginsand padding*/

/* part 4 ch 5 step 6: adjust marginsand padding*/

/*halloween ex 6 spec 1 part 2*/
aside{
	float: left;
	width: 160px;
	padding: 20px 0; /*halloween ex 6 spec 2*/
}
/*halloween ex 7 spec 5 part 2*/
#nav_list ul{
	list-style: none;
	padding-left: 1.5em; /* replaces chome's automatic 40px of left padding*/
}

#nav_list ul li{
	width: 110px;
	border: 2px solid black;
	margin-bottom:0.5em;
}
#nav_list ul li a{
	display: block; /*makes whole box clickable*/
	font-weight:bold;
	background-color: orange;
	text-decoration: none;
	padding: 0.5em;
	color: black;
}
/*halloween ex 6 spec 2: adjust margin and padding for section*/
section{
	width: 590px;
	float: right;
	padding: 20px 25px 25px 25px;
}
section h1{
	font-size: 140%;
	margin-bottom: 0.5em;
}

section h1:first-letter { 
	font-size: 240%
}
section h2{
	font-size: 125%;
	margin: 0.8em 0 0.5em 0;
}
section h3 {
	font-size: 110%
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	/*same as margin of section h2*/
}
/* part 4 ch 5 step 6: adjust marginsand padding*/
section p{
	margin-bottom: 0.5em;
}


/* pt 2 ch 4 step 5 format the links so they are displayed as boldface and orange, and when
 * they are hovered over they turn green
 */

/* pt 2 ch 4 step 6 format the list to increase th space between the list items*/

/*pt 2 ch 4 step 7 reduce the size of the footer and center it*/
/* pt 4 ch 5 step 3: add a black border below the header*/
/* pt 4 ch 5 step 5: add a gradient to the footer*/
footer{
/* halloween ex 6 spec 1 part 4*/
    clear: both;
	border-top:2px solid black;
	padding: 15px;
	background-image: -moz-linear-gradient(
	    45deg, black 0%, orange 75%, white 100%);
	background-image: -webkit-linear-gradient(
	    45deg, black 0%, orange 75%, white 100%);
	background-image: -o-linear-gradient(
	    45deg, black 0%, orange 75%, white 100%);
	background-image: linear-gradient(
	    45deg, black 0%, orange 75%, white 100%);
}
footer p {
	font-size: 90%;
	text-align: center;