
html {
	background-image: url("../images/nice_snow.png");
}

body {
	font-family: Georgia, serif;
	max-width: 960px;
	width: 95%; 
	background-color: white;
	margin: 0 auto;
	padding: 0;
	border: 1px solid white;
	/*box-shadow: 0 9px 18px 9px;*/
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

header{
	background-color:rgb(217, 207, 249);
	padding: 2.9375em 1.875% 2.9375em 1.875%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

header h2{
	font-size: 230%;
	text-align: center;
}

#nav_menu {
		display: block; 
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10000;
	
}

#nav_menu ul {
	list-style: none;
	position: relative; 
	top: 0;
	left: 0;
	width: 100%;   
}
#nav_menu ul li {
	float: left;
	width: 16.543%; 
	
}
#nav_menu ul ul {
	display: none;        
	position: relative;
	top: 100%;       
	     
}
#nav_menu ul ul li {
	float: none;    
	        
}
#nav_menu ul li:hover > ul {
	display: block;        
	width: 95%; 
	padding-bottom: 3em; 
}
#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}


#nav_menu ul {
	margin: 0;
	padding: 0;
}

#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: 0.45em 0;
	background-color: gray;
	color: white;
}

#nav_menu ul li a.current {
	color:rgb(217, 207, 249);
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: rgb(191, 191, 191);
}

#nav_list ul{
	width: 68.75%;  
	list-style: none;
	padding-left: 10%; 
}

#nav_list ul li{
	border: 2px solid black;
	margin-bottom: 0.5em;
}
#nav_list ul li a{
	display: block; 
	font-weight: bold;
	background-color: orange;
	text-decoration: none;
	padding: 0.4em 1.27273% 0.4em 1.27273%;
	color: black;
}

main {
	width: 95%;  
	padding: 1.25em 3.125% 1.5625em 3.125%; 
}

main h1{
	font-size: 150%;
	margin-bottom: 0.5em;
	text-align: center;
	clear: both;
}


main h2{
	font-size: 135%;
	margin: 0.8em 0 0.5em 0;
	text-align: center;
}


main h3 {
	font-size: 120%;
	margin-top: 0.8em;
	margin-bottom: 0.5em;
	text-align: center;
}



main a{
	font-weight: bold;
	color: black;
}

main a:link, section a:visited {
	color: black;
}

/* something here is getting in the way 
 * of Cycle2... instead of using the img 
 * type selector, put those img elements
 * in a class, and use main .classname 
 * instead of main img 
 */
/*main img{
	width: 25.4%; 
	max-width: 150px;
	min-width: 40px;
	float: left;
}*/

textarea {
	height: 5em;
	width: 25em;
	font-family: Georgia, serif;
}

footer{

    clear: both;
	border-top:1px solid white;
	padding: 0.9375em 1.875% 0.9375em 1.875%; 
	background-color:rgb(217, 207, 249);
}

footer p {
	font-size: 90%;
	text-align: center;
}

#mobile_menu {
	display: none; 
}

/* trying to fix Cycle2 size */
main .cycle-slideshow { 
	width: 17%; height: 17%;
	border: 1px solid black;
	float: left;
	margin-right: 1em;
}

main .cycle-slideshow img { 
	width: 100%;
}

main p{
	margin-bottom: 0.5em;
	font-weight: bold;
	
}
@media only screen and (max-width: 800px) {
	html {
		background-image: none; 
	}
	body {
		font-size: 95%;   
		box-shadow: none; 
	}
	#nav_menu {
		display: block; 
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 767px) {
	#nav_menu {
		display: none; 
	}
	#mobile_menu {
		display: block; 
		position: fixed; 
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10000;
	}
	header h2 {
		font-size: 200%;
	}
	main {
		width: 90%;
		float: none; 
		padding-left: 5%;
		padding-bottom: 0.5em;
	}
	#nav_list ul{
		width: 50%;
		padding-left: 25%;
		text-align: center;
	}
	#nav_list ul li a {
	}
	
}

@media only screen and (max-width: 479px){
	header h2{
		font-size: 180%;
	}
	header h3 {
		font-size: 115%; 
	}
	main h1 {
		font-size: 130%; 
	}
	
}
